---
layout: layout
eleventyExcludeFromCollections: true
---

<h1>Musings</h1>

{% for muse in collections.musing | reverse %}
<hr>
<h2><a href={{ muse.url }}>{{ muse.data.title }}</a></h2>
{{ muse.templateContent | safe }}
{% endfor %}
